---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import herovideo from "../assets/images/herovideo.mp4";
import beer1 from "../assets/images/beer1.webp";
import beer2 from "../assets/images/beer2.webp";
import passion from "../assets/images/passion.jpg";
---

<MainLayout title="MaltClub" />
<div class="relative w-full h-screen">
  <!-- Video baggrund -->
  <video
    src={herovideo}
    class="absolute inset-0 w-full h-full object-cover"
    autoplay
    muted
    loop></video>

  <!-- Overlay -->
  <div class="absolute inset-0 bg-black opacity-40"></div>

  <!-- Indhold -->
  <div
    class="relative z-10 flex items-center justify-center text-white flex-col h-full"
  >
    <!-- Flasker -->
    <div class="absolute top-16 flex items-center justify-center gap-28">
      <!-- Beer 1 -->
      <Image
        src={beer1}
        alt="En øl"
        class="w-auto h-[300px] transform rotate-[-15deg]"
      />
      <!-- Beer 2 -->
      <Image
        src={beer2}
        alt="En øl"
        class="w-auto h-[280px] transform rotate-[15deg]"
      />
    </div>

    <!-- Hovedtekst -->
    <h1
      class="text-[45px] md:text-[64px] karantina font-bold text-center mt-60"
    >
      BRYGGET MED OMSORG <br />
      LEVERET MED KÆRLIGHED
    </h1>

    <!-- Undertekst -->
    <h2
      class="mt-4 text-[24px] md:text-[24px] karantina font-bold text-center m-8"
    >
      Unikke specialøl, der forvandler din hverdag til en smagsoplevelse
    </h2>

    <!-- Call-to-action knap -->
    <a
      href="#"
      class="karantina text-[32px] md:text-[32px] bg-[#A6411B] text-white px-6 py-3 rounded-[20px] hover:bg-[#8A3717]"
    >
      Se abonnementer
    </a>
  </div>

  <!-- Scroll-pil -->
  <div class="absolute bottom-4 left-0 right-0 flex justify-center">
    <a href="#next-section" class="text-white text-3xl animate-bounce"> ↓ </a>
  </div>
</div>

<section class="p-4">
  <Image src={passion} alt="En person skænker øl op" class="rounded-[20px]" />

  <!-- Kassen med sort baggrund og skygge -->
  <div
    class="bg-black p-6 rounded-[20px] mt-6"
    style="box-shadow: -10px 10px 20px 0px rgba(0, 0, 0, 1);"
  >
    <h1
      class="text-[45px] md:text-[64px] karantina font-bold text-center text-white"
    >
      En <span class="text-[#BE7E39]">passion</span> for øl
    </h1>
    <p class="text-white text-[16px] mt-[20px]">
      Hos MaltClub er vi passionerede omkring at udbrede kendskabet til øl med
      historie og smag. Hver måned sammensætter vi en kasse fyldt med nøje
      udvalgte specialøl fra bryghuse med noget på hjertet. Øl, der ikke bare
      smager godt – men også fortæller en historie. <br />
      <br /> Er du klar til din næste smagsoplevelse?
    </p>
  </div>
</section>
